html {
  font-family: "Bitter", serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: black;
  position: fixed;
  width: 100%;
}

nav {
  flex-direction: row;
  display: flex;
}

nav li {
  width: 10vw;
  padding: 1vh;
  background-color: gray;
  color: white;
  justify-content: center;
  display: flex;
  margin: 2vh;
  font-size: 2.25vh;
}

header nav:first-child {
  margin-left: 3vw;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li:hover {
  background-color: darkgray;
}

header h1 {
  color: white;
  font-size: 2.25vh;
  padding: 1vh;
  margin-right: 3vw;
}

.bar {
  justify-content: space-between;
  display: flex;
}

#mobilenav {
  display: none;
}

@media only screen and (max-width: 480px) {
  .bar:last-child {
    display: none;
  }

  nav li {
    width: 20vw;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #nav {
    display: none;
  }

  #mobilenav {
    display: flex;
  }

}

@media only screen and (max-width: 768px) {
  .bar:last-child {
    display: none;
  }

  nav li {
    width: 20vw;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.terms {
    max-width: 80vw;
    text-align: left;
  }
  div.jumbotron {
    max-height: 50vh;
    max-width: 80vw;
  }

}

/* Landing */

.landing-section {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: url("../../resources/images/barbershop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  display: flex;
  margin-top: 25vh;
  flex-direction: column;
  background-color: darkgray;
  max-width: 70vw;
  max-height: 25vh;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  flex-grow: 1;
  flex-shrink: 1;
}

.jumbotron h1 {
  font-size: 8vh;
}

.jumbotron h2 {
  font-size: 3vh;
  margin-top: 1vh;
}

.jumbotron h3 {
  margin-top: 3vh;
  font-size: 2.5vh;
}

@media only screen and (max-width: 480px) {
  .jumbotron {
    max-height: 45vh;
    max-width: 80vw;
  }
}

/* Information */

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  margin-bottom: 15vh;

}

.local {
  display: flex;
  flex-direction: row;
  margin: 2vh;
  padding: 2vh;
  font-size: 3vh;
  align-items: center;
  margin: 0 auto;
}

.part {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  padding: 2vh;
  max-width: 30vw;
  border-left: 0.5vh solid black;
}

.info-title {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5vh;
  font-size: 5vh;
}

.terms {
  max-width: 30vw;
  text-align: justify;
  font-size: 2vh;
  margin-top: 2vh;
}

#terms {
  justify-content: center;
  color: black;
  font-size: 3vh;
  border-bottom: 0.25vh solid black;
}

@media only screen and (max-width: 480px) {
  .local {
    flex-direction: column;
    max-width: 70vw;
  }

  .part {
    max-width: 70vw;
  }

  div.terms {
    max-width: 80vw;
    text-align: left;

  }
}
/* Contact */

.contact-title {
  justify-content: center;
  display: flex;
  margin-top: 5vh;
  font-size: 5vh;
  width: 100%;
  background-color: darkgray;
  padding: 5vh 0;
  margin-top: 5vh;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  width: 100%;
  padding-bottom: 10vh;
}


.mod h1 {
  font-size: 3vh;
  margin-bottom: 2vh;
}

.mod {
  width: 45vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2vh;
  text-align: center;
  align-self: center;
}

.mod:last-child {
  align-items: center;
}

.mod:first-child {
  flex-direction: row;
}
.mods {
  display: flex;
  flex-direction: row;
}

iframe {
  width: 100%;
  height: 100%;
}

.mod a {
  background-color: black;
  padding: 3vh;
  font-size: 2vh;
  width: 20vw;
  justify-content: center;
  display: flex;
  color: white;
  text-decoration: none;
}

.mod a:hover {
  background-color: gray;
}

.mod p {
  margin-top: 3vh;
  font-size: 2vh;
}

#info,
#contacus {
  display: block;
  height: 8vh;
}

@media only screen and (max-width: 480px) {
  .mods {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact div {
    width: 70vw;
    justify-content: center;
    display: flex;
  }

  .mod {
    max-width: 70vw;
  }

  .mods {
    flex-direction: column;
  }

}

@media only screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact div {
    max-width: 70vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .mods {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact div {
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  div.terms {
    max-width: 80vw;
    text-align: left;
  }

  .mods {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1600px) {

}

/* Footer */

footer {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1vh auto;
}

@media only screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
    height: 10vh;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    height: 12vh;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    height: 17vh;
    }
}
